@import 'styling';

.card-character {
  font-size: 1.3em;

  .btn-green {
    background-color: $green;
    color: $white;
    &:hover {
      background-color: $dark-green;
    }
  }

  img {
    width: 110px;
    height: 110px;
  }

  span {
    font-weight: 700;
  }

  .mat-mdc-card-avatar {
    margin-bottom: 0;
  }
}