@import 'styling';

.portal {
  width: 270px;
  height: 250px;
}

h2 {
  color:rgb(192, 13, 13);
}

p {
  max-width: 550px;
}

a {
  font-weight: 700;
  color: $dark-green;

  &:hover {
    color: $indigo;
  }
}