@import "styling";

.mdc-dialog__title::before {
  height: 0 !important;
}

// .mat-mdc-dialog-container {
//   background-color: $light-indigo;
// }

.btn {
  font-size: 1.2em;
  color: $white;
}

.close-button {
  font-family: "Alegrya sans", sans-serif;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.3em;
  color: $white;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  &:hover {
    border: 1px solid $dark-green;
    box-shadow: 0px 0px 5px #292929;
    color: $yellow;
  }
}

.character-modal {
  background-color: $light-indigo;
  color: $white;
  font-size: 1.2em;

  img {
    width: 130px;
    height: 130px;
    margin-right: 0px;  
  }

  h4 {
    color: $white;
  }

  p {
    color: #c4c4c4;
    
    span {
      font-weight: 700;
    }
  }

  .information {
    width: 170px;
    margin: 0;
    padding: 0;
  }


}
