@import 'styling';

.card-login {


  .btn-indigo {
    background-color: $indigo;
    color: $white;
    transition: 0.2s;
    width: 90px;
    &:hover {
      color: $green;
    }
  }

  .eye-button {
    background-color: transparent;
  }

  form {
    width: 80vw;
    max-width: 400px;
    .input {
      width: 90%;
    }
  }

  p {
    font-size: .9em;
    color: #8d8d8d;

    span {
      font-weight: 700;
    }
  }

}