<div class="">

  <h1>Pesquise por dados da série Rick And Morty</h1>

  <form [formGroup]="searchForm" class="search mt-5">
    <div class="d-flex justify-content-center align-items-center">
      <input type="text" placeholder="Pesquisar episódio..." formControlName="search"
        (keyup)="renderFilteredList()">
      <div class="search-icon d-flex justify-content-center align-items-center">
        <mat-icon aria-hidden="false" aria-label="Icone de lupa" fontIcon="search"></mat-icon>
      </div>
    </div>
  </form>

  <div *ngIf="notFound" class="alert alert-warning my-3">
    Nenhum resultado encontrado! Tente buscar por outros nomes.
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" (selectedIndexChange)="changeRenderList($event)"
    class="my-5">
    <mat-tab label="Episódios">
      <div *ngIf="listRendered == 'episodes'" class="py-5">
        <h2>Lista de episódios</h2>
        <app-episodes [episodes]="episodesList" (scrollEmmiter)="renderEpisodesList()">
        </app-episodes>
      </div>
    </mat-tab>
    <mat-tab label="Personagens">
      <div *ngIf="listRendered == 'characters'" class="py-5">
        <h2>Lista de personagens</h2>
        <app-characters [characters]="charactersList" (scrollEmmiter)="renderCharactersList()"></app-characters>
      </div>
    </mat-tab>
  </mat-tab-group>



  <div *ngIf="isLoading" class="d-flex justify-content-center my-4 ">
    <div class="loading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Carregando...</span>
      </div>
    </div>
  </div>
</div>