// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$desafio-l5-primary: mat.define-palette(mat.$green-palette);
$desafio-l5-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$desafio-l5-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$desafio-l5-theme: mat.define-light-theme(
  (
    color: (
      primary: $desafio-l5-primary,
      accent: $desafio-l5-accent,
      warn: $desafio-l5-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($desafio-l5-theme);

/* You can add global styles to this file, and also import other style files */
@import "definitions";
@import "styling";

html,
body {
  height: 100%;
}

.mat-mdc-tab-labels {
  :first-child {
    border-top-left-radius: 5px;
  }

  :last-child {
    border-top-right-radius: 5px;
  }
}
.mat-mdc-tab-labels .mat-mdc-tab {
  font-size: 1.4em;
  font-weight: 700;
  font-family: "Alegreya sans", sans-serif;
  background-color: $light-indigo;
  &:not(.mdc-tab--active) {
    .mdc-tab__content .mdc-tab__text-label {
      color: $white;
    }

    &:hover .mdc-tab__content .mdc-tab__text-label {
      color: $indigo;
    }
  }
}

.mat-mdc-dialog-container {
  background-color: $light-indigo;
}
